.mainContainer{
    margin-top: 50px;
}

.cardContainer{
    /* margin:1px; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 8px;
    max-height: 90%;
    max-width: 100%;
}
